<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset = "UTF-8">
        <title>Incluir Usuari@s</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <h1 style="text-align:center;">Cadastrar nov@ Usuári@</h1>
        <form action="/incluir" class="container" method="post">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="nome" id="nome" placeholder="nome" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="text" name="email" id="email" placeholder="email" class="form-control">
                </div>
            </div>
            <br>
            <div class="row col-xs-12">
                <button type="submit" class="btn btn-block btn-succes">Enviar</button>
            </div>
        </form>
    </body>
</html>